* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 5em;
}

header h1 {
  text-align: center;
}

header h1 i {
  margin-right: 0.25em;
}

@media only screen and (min-width: 750px) {
  header {
    padding: 1em;
  }
}

.wrapper {
  padding: 1.5em;
}

@media only screen and (min-width: 750px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 9fr;
        grid-template-columns: 3fr 9fr;
    gap: 0;
    padding: 0;
    height: 100vh;
  }
}

@media only screen and (min-width: 1800px) {
  .wrapper {
    -ms-grid-columns: 2fr 10fr;
        grid-template-columns: 2fr 10fr;
  }
}

section {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

@media only screen and (min-width: 600px) {
  section {
    margin: 0;
  }
}

input {
  padding: 1.25em 0.75em;
  background-color: #eee;
  border-radius: 10px;
  border: none;
  width: 100%;
}

button {
  position: relative;
  background-color: black;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border: none;
  -webkit-transition-duration: 0.4s;
  /* Safari */
}

button:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background-color: #3a3a3a;
}

button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 10px 40px white;
          box-shadow: 0 0 10px 40px white;
}

button:active:after {
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

button:active {
  top: 1px;
}

img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (min-width: 600px) {
  img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  section#create-recipe {
    padding: 1em;
  }
}

@media only screen and (min-width: 600px) {
  section#recipesDiv {
    background-color: #eee;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 2em;
  }
}

@media only screen and (min-width: 750px) {
  section#recipesDiv {
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #00000031;
    border-top-left-radius: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  section#recipesDiv {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1800px) {
  section#recipesDiv {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
  list-style-type: none;
}

.recipe {
  background-color: #fafafa;
  border-radius: 10px;
  height: 100%;
}

.recipe button {
  margin-right: 0;
  margin-left: auto;
}

@media only screen and (min-width: 600px) {
  .recipe {
    margin: 0 auto;
  }
}

.recipe-body {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

@media only screen and (min-width: 600px) {
  .recipe-body {
    padding: 1em 2em;
  }
}

.recipe-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}

.recipe-badge {
  padding: 0.5em 0.25em;
  border-radius: 15px;
  background-color: #eee;
  width: 50px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */