* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 5em;
  h1 {
    text-align: center;
    i {
      margin-right: 0.25em;
    }
  }

  @media only screen and (min-width: 1200px) {
    padding: 1em;
  }
}

.wrapper {
  padding: 1.5em;

  @media only screen and (min-width: 750px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0;
  }

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 0;
    padding: 0;
    height: 100vh;
  }

  @media only screen and (min-width: 1800px) {
    grid-template-columns: 2fr 10fr;
  }
}

section {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @media only screen and (min-width: 600px) {
    margin: 0;
  }
}

input {
  padding: 1.25em 0.75em;
  background-color: #eee;
  border-radius: 10px;
  border: none;
  width: 100%;
}

button {
  position: relative;
  background-color: black;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  margin-top: 1em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
}

button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

button:active {
  top: 1px;
}

img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media only screen and (min-width: 600px) {
    max-width: 100%;
  }
}

section#create-recipe {
  @media only screen and (min-width: 600px) {
    padding: 1em;
  }
}

section#recipesDiv {
  @media only screen and (min-width: 600px) {
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 1800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
  list-style-type: none;
}

.recipe {
  background-color: #fafafa;
  border-radius: 10px;
  height: 100%;

  button {
    margin-right: 0;
    margin-left: auto;
  }

  @media only screen and (min-width: 600px) {
    margin: 0 auto;
  }
}

.recipe-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @media only screen and (min-width: 600px) {
    padding: 1em 2em;
  }
}

.recipe-badges {
  display: flex;
  gap: 0.5em;
}

.recipe-badge {
  padding: 0.5em 0.25em;
  border-radius: 15px;
  background-color: #eee;
  width: 50px;
  text-align: center;
}
